/* =====================================
   DESKTOP GRANDE
===================================== */

@media (max-width:1100px){

    .cp-hero-inner{
        grid-template-columns:1fr;
        gap:40px;
    }

    .cp-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .cp-footer-inner{
        grid-template-columns:repeat(2,1fr);
    }

}


/* =====================================
   TABLET
===================================== */

@media (max-width:900px){

}


/* =====================================
   MOBILE
===================================== */

@media (max-width:768px){

    .cp-hero{
    padding:40px 18px;
}

.cp-hero-inner{
    grid-template-columns:1fr;
    gap:32px;
}

.cp-badge{
    font-size:11px;
    padding:10px 16px;
}

.cp-hero-content h1{
    font-size:32px;
    line-height:1.05;
    letter-spacing:-.03em;
    margin-bottom:18px;
}

.cp-hero-content > p{
    font-size:16px;
    line-height:1.7;
    margin-bottom:24px;
}

}


/* =====================================
   MOBILE PEQUENO
===================================== */

@media (max-width:640px){

}


/* =====================================
   TELAS MUITO PEQUENAS
===================================== */

@media (max-width:480px){

}